//- index.pug

extends ./layout/layout.pug

block content
	h2 Список 
	table.table.table-sripped
		thead
			tr
				th id
				th Ф.И.О.
				th Дата рождения
				th Образование
		tbody
		each post in persons
			tr
				th(scope="row")= post._id
				td= post.title
				td= post.birthday
				td= post.obrazov