nav.navbar.navbar-default.navbar-fixed-top
	div.container-fluid
		div.navbar-header
			a.navbar-brand(href="#")
				img.logo(alt="Brand" src="images/logo.svg")
			p.navbar-text Web Application
		ul.nav.navbar-nav.navbar-right
			li(class=title=='index'?'active':undefined)
				a(href="/") Home
			li(class=title=='import'?'active':undefined)
				a(href="/import") Import